Repository voxpupuli/puppet-dbbackup, pull requests merged in 2021-05, with the labels that each got.

#9 Allow pigz_cpu_cores to be undefined
  manifests/init.pp
  templates/dump_databases.epp
Labels: enhancement

#15 Enable Puppet 7 support
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
  metadata.json
Labels: enhancement

#11 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#16 release 1.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
