Repository voxpupuli/puppet-dbbackup, pull requests merged in 2024-07, with the labels that each got.

#68 add Ubuntu 20.04 and 22.04
  metadata.json
Labels: enhancement

#67 release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#69 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync
